.section {
    margin-bottom: 30px;
}
table{
    width: 100%;
}
td, th{
    border: 1px solid black;
    text-align: center;
}
.navadmin{
    cursor: pointer; 
    transition: background-color 0.3s ease;
    display:inline-block;
}
  
.navadmin:hover {
    font-weight:bold;
}
#adminsearch {
    width: 100%;
    max-width: 400px;
    padding: 12px 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    transition: all 0.3s;
}
#adminsearch:focus {
    outline: none;
    border: 1px solid #4a8dff;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(74, 141, 255, 0.5);
}

/* .section form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.section input[type="text"] {
    margin-right: 5px;
}

.section button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
} */