
header img{
    float: left;
}
header{
    height: 80px;
    width: 100%;
    background-color: #256F5C;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    white-space: nowrap;
}
nav{
    float:right;
    display:flex;
    white-space: nowrap;

}
header ul{
    list-style:none;
}
header li{
    margin-right: 1em;
    text-decoration: none; 
    text-align: center;
    background-color: #AA7F39;
}
header li, #search{
    display:inline-block;
    border: 1px solid #AA7F39;
    border-radius: 10px;
    padding: .1em .7em .1em .7em;
    font-size:30px;
}
header li:hover{
    border-color:black;
    background-color: #AA7F37;
}
#search {
    background-color: azure;
    overflow-x: auto;
    text-align: left;
    margin-top:0.55em;
    width: 80%;
}
#search:focus{
    outline: none;
    border: 1px solid #4a8dff;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(74, 141, 255, 0.5);
}
header nav a{
    text-decoration: none;
    color:azure;
    font-family: 'Montserrat', sans-serif;
}
.menu{
    position: fixed;
    overflow: scroll;
    top:80px;
    left:0;
    padding: 0 1em 0 1em;
    height:100vh;
    background-color: azure;
    margin: 0em 2em 0em 0em;
    width: 200px;
    display:flex;
    flex-direction:column;
    font-family: 'Montserrat', sans-serif;
    border-right: solid 1px black;
    z-index: 100;
}
.menu ul{
    list-style:none;
    font-size: 20px;
}
.menu ul li{
    vertical-align: center;
    text-align: left;
    margin: 1em 1em 1em 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
} 
.menu ul li a{
    text-decoration: none; 
}
.menu ul li:hover{
    font-weight:bold;
}

.main{
    position: relative;
    top:80px;
    left:200px;
    font-family: "Comic sans MS", "Comic Sans", "cursive", sans-serif;
    overflow: scroll;
    margin: 1em 1em 1em 1em;
    padding: 0 1.5em 0 1.5em;
    width: 80%;
}
.boackgroundlogo{
    position: fixed;
    top:80px;
    left:200px;
    z-index: -99;
}



