

.dumpings {
    overflow-x: scroll;
    height: 15em;
}
.dumping {
    position: relative;
    display: inline-block;
    width:31%;
    border: 1px solid black;
    overflow:scroll;
    height: 60%;
}
.dumping h3{
    margin-left: 1em;
    position: absolute;
    bottom: 0;
}
.popular form{
    padding: .1em .7em .1em .7em;
    border-radius: 20px;
    border: 1px solid black;
}
.post {
    margin-top:1em;
    margin-bottom: 1em;
    border: 1px solid black;
    border-radius: 0.5em;
    padding: 0.5em
}
.dumping, .popular form, .post {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
fieldset {
    border: none;
}