header img{
    width: auto;
    height: 20em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
}
table{
    width: 17em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
td input{
    width: 20em;
    height: 2em;
    margin: 0 0 1em 0;
    column-span: all;
    border-radius: .5em;
}
td #login{
    padding: .1em 1em .1em 1em;
    background-color: #AA7F39;
    border: .5px solid black;
    border-radius: 1em;
    font-size: 1.1em;
    color:white;
    float: right;
    width: 100%;
}
td #signUp{
    text-decoration: none;
    margin-top: .3em;
    background-color: #AA7F39;
    border: .5px solid black;
    border-radius: 1em;
    font-size: 1.1em;
    color:white;
    padding: .1em 1em .1em 1em;
    width: 100%;

}
h4 {   
    text-align: center; 
}
